html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
}

h1, h2, h3, p {
    margin: 0;
}

h1, h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 300;
}

h1 {
    font-size: 8rem;
    line-height: 6.5rem;
    padding: 20px 0;
}

.darker-text {
    color: $dark-grey;
    font-weight: 700;
}

h2 {
    font-size: 6rem;
    line-height: 6.5rem;
    padding : 60px 0 20px 0;
}

h3 {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3rem;
    padding: 15px 0;
    text-align: center;
}

h2, p, p.large {
    text-align: center;
}

p {
    color: #989898;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 20px 0 40px 0;
}

p.large {
    font-size: 2rem;
    line-height: 3rem;
}

