@import 'setup';
@import 'utils';
@import 'typography';
@import 'components/nav';
@import 'components/header';
@import 'components/main';
@import 'components/footer';


/*=========================================
GLOBAL STYLES 
(Reusable classes applied to HTML elements rather than re-written per each element in full in CSS)
==========================================*/

.main-flex-wrapper {
    display: flex;
    flex-direction: column;
}

.column-flex-wrapper {
    // border: 1px solid#ff5960;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    @include flex-row-wrap();
}

.content-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.white-btn {
    border: 1px solid white;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.white-text {
    color: white;
}

/*=========================================
MEDIA QUERIES
==========================================*/

/*--------------------------------------------
Portrait tablet and small desktops 
---------------------------------------------*/

@media (max-width: 1200px) {
    .nav-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        .nav-item {
            width: 100px;
        }
    }
}

@media (max-width: 600px) {
    .nav-list {
        display: flex;
        flex-flow: row wrap;
        .nav-item {
            width: 100vw;
            text-align: center;
        }
    }

    .top-nav .logo-box {
        min-width: 0;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        padding-left: 45px;
    }
}

/*------------------------------------------
Resize Skills Section Flex Items
-------------------------------------------*/
@media (max-width: 1116px) {
    .section-skills .skills-content-box {
        margin: 0;
        flex-basis: 400px;
        padding: 0 20px;
    }
}

/*-------------------------------------------
Resize Team Members (Team Section Flex Items)
and Stats Section Items
-------------------------------------------*/
@media (max-width: 1105px) {
    .section-team {
        padding-bottom: 70px;
    }
    .section-team .team-wrapper .team-member{
        max-width: none;
        flex-basis: 275px;
        padding: 10px 50px;
        margin-bottom: 40px;
        img {
            max-width: none;
        }
    }
    .section-stats .stats-wrapper .stats-item {
        flex-basis: 450px;
        margin-bottom: 60px;
    }
}

/*-------------------------------------------
Resize Hero Items
-------------------------------------------*/
@media (max-width: 1036px) {
    .yellow-bkg-light, .yellow-bkg-dark {
        flex-basis: 1036px;
        justify-content: center;
        padding: 0;
    }
    .hero-text {
        max-width: 100%;
        @include flex-col-wrap;
        align-items: center;
    }
    .hero-img {
        display: none;
    }
}

/*-------------------------------------------
Resize Portfolio Images (Portfolio Section)
-------------------------------------------*/

/* First breakpoint when layout needs updates */
@media (max-width: 2130px) {
    .section-portfolio .portfolio-imgs-wrap {
    max-width: 1100px;
    }
}

/* Second breakpoint when layout needs updates */
@media (max-width: 1265px) {
    .section-portfolio .portfolio-imgs-wrap {
        max-width: 90%;
    }
}

/*-------------------------------------------
Resize Pull Quote Section 
-------------------------------------------*/

@media (max-width: 793px) {
    .section-pull-quote .quote-line-1::before {
        content: "";
    }

    .section-pull-quote .quote-line-1::after {
        content: "";
    }
}

/*-------------------------------------------
Resize Blog Section 
-------------------------------------------*/

/* First breakpoint when layout needs updates */
@media (max-width: 1125px) {
    .section-blog .blog-container {
        max-width: 100%;
        justify-content: center;
    }
    .section-blog .post-2-3-container .post2,
    .section-blog .post-2-3-container .post3 {
        border-right: none;
        border: 1px solid white;
        margin: 40px 0px 20px 0px;
    }
}

/* Landscape phones and down */
@media (max-width: 600px) {
    .section-blog .post-2-3-container .post2,
    .section-blog .post-2-3-container .post3 {
        width: 100%;
        justify-content: center;
        padding-top: 20px;
        border-right: none;
    }
    
    .section-blog .post-2-3-container .post2 {
        border-bottom: 10px solid $red;
    }

    .section-blog article .post-details {
        justify-content: center;
    }

    .social-row {
        padding: 10px 0;
    }
}

/*------------------------------------------
Resize Map Section Text
-------------------------------------------*/

@media (max-width: 600px) {
    .section-map {
        a {
        font-size: 2.5rem;
    }
    .phone {
        font-size: 3rem;
    }
    p {
        max-width: 400px;
    }
    }
}

/*------------------------------------------
Resize Widget Section Text
-------------------------------------------*/

@media (max-width: 1251px) {
    .section-widgets{
        flex-basis: 600px;
    }
}

/*-------------------------------------------
Mobile Layout Rules
-------------------------------------------*/

@media (max-width: 400px) {
    .section-skills .skills-content-box {
        flex-basis: 300px;
    }

    .section-team .team-wrapper .team-member{
        flex-basis: 300px;
    }

    .section-stats .stats-wrapper .stats-item{
        flex-basis: 300px;
    }

    .yellow-bkg-light, .yellow-bkg-dark{
        flex-basis: 300px;
    }

    p.large {
        font-size: 3rem;
        width: 100%;
        padding: 0 10px;
    }

    blockquote {
        font-size: 4rem;
    }
}